<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layout/head') %>
</head>

<body>
  <div id="content">
    <%- include('../../layout/navbar') %>
  </div>

  <div class="hero-container">
    <%- include('../../layout/sidenav') %>
  </div>

  <Header>
    <div class="bioHeader">
    <h1>Blazing Trails Team</h1>
    </div>
  </Header>

  <div class="tbd-main-img-bio-A">
    <div class="arthurImg-wrapper">
      <img src="img/avatar.jpg" class="arthurImg">
    </div>
    <div class="bio-wrapper-A">
      <h1>ARTHUR</h1>
      <p>Stay and talk a while, while I tell you how cool Arthur is and all the neat things about him.</p>
    </div>
  </div>

  <div class="tbd-main-img-bio-T">
    <div class="tekImg-wrapper">
      <img src="img/avatar.jpg" class="tekImg">
    </div>
    <div class="bio-wrapper-T">
      <h1>TEK</h1>
      <p>Stay and talk a while, while I tell you how cool Tek is and all the neat things about him.</p>
    </div>
  </div>

  <div class="tbd-main-img-bio-R">
    <div class="ryanImg-wrapper">
      <img src="img/avatar.jpg" class="ryanImg">
    </div>
  <div class="bio-wrapper-R">
    <h1>RYAN</h1>
    <p>Stay and talk a while, while I tell you how cool Ryan is and all the neat things about him.</p>
  </div>
  </div>

</body>

</html>