<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layout/head') %>
</head>

<body>
<div id="content">
  <%- include('../../layout/navbar') %>
</div>

<div class="hero-container">
  <%- include('../../layout/sidenav') %>
</div>

<Header></Header>





</body>