<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layout/head') %>
</head>

<body>
  <div id="content">
    <%- include('../../layout/navbar') %>
  </div>

  <div class="hero-container">
    <%- include('../../layout/sidenav') %>
  </div>

  <Header>
    <div class="bioHeader">
    <h1>Blazing Trails Team</h1>
    </div>
  </Header>

  <div class="tbd-main-img-bio-A">
    <div class="arthurImg-wrapper">
      <img src="img/arthur_bio.jpg" class="arthurImg">
    </div>
    <div class="bio-wrapper-A">
      <h1>ARTHUR</h1>
      <p>Arthur recently moved to Seattle from Germany, but us originally from Chicago, IL. <br> <br> He retired out of Germany from the United States Air Force and decided there was nowhere more beautiful than Seattle to call home. <br> <br> With an associate as a webmaster, Arthur is looking forward to his journey in coding and meeting amazing people along the way.</p>
    </div>
  </div>

  <div class="tbd-main-img-bio-T">
    <div class="tekImg-wrapper">
      <img src="img/tek_bio.jpg" class="tekImg">
    </div>
    <div class="bio-wrapper-T">
      <h1>TEK</h1>
      <p>Acute beholder with an ever lasting passion to surround himself with great design after 10+ years of experience. <br> <br> Tek's approach to designing is simple, the focus is to distill what’s most important and represent this in the most effective and engaging way possible. <br> <br> When he's not pushing pixels you can find Tek enjoying big hikes and climbs up the Rockies, skateboarding urban jungles, or orchestrating a room full of dancing feet.</p>
    </div>
  </div>

  <div class="tbd-main-img-bio-R">
    <div class="ryanImg-wrapper">
      <img src="img/ryan_bio.jpg" class="ryanImg">
    </div>
  <div class="bio-wrapper-R">
    <h1>RYAN</h1>
    <p>Ryan is marketing professional currently working to make a full career change into the world of software development. <br> <br> An avid lover of the outdoors, he often spends as much time as he can snowshoeing, hiking, camping or backpacking. <br> <br> Ryan has also been playing baseball for the past 25 years and still plays today as a member of the PSSBL. <br> <br> He is also a self-published children's author.</p>
  </div>
  </div>

</body>

</html>