<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('layout/head') %>

  


</head>
<body>
  <Header>

  </Header>



  <div id="content">
    <%- include('layout/navbar') %>

    <div class="hero-container">

      <%- include('layout/sidenav') %>

      <div class="main-content-contain">

        <div class="hero-left">
          <h1 class="">Let’s Find Adventure, Hiking, Camping and Beyond.</h1>
          <div class="bar"></div>
          <p>This Severside Node Web App is an essential tool for anyone looking explore hiking or camping in their area. Let's head toward adventures.</p>
          <div class="button-wrapper">
            <a href="/pick"><button class="solid-btn"> Search</button></a>
            <button class="outline-btn"> Learn More</button>

          </div>
        </div>

        <div class="hero-right">
          <img id="hiking-hero"src="../../img/Hiking_hero.png" alt="hiking hero">
        </div>


      </div>







    </div>

    
  </div>

  <footer>

  </footer>
  
</body>
</html>