<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head') %>

  


</head>
<body>
  <Header>

  </Header>



  <div id="content">
    <%- include('../../layout/navbar') %>

    <div class="hero-container">

      <%- include('../../layout/sidenav') %>
     

      <div class="results-main-contain">


        <div id="seperator">
          <h2>weather</h2>
          <div class="weather-wrapper">
            
          
            <div class="weather-item"> <!---------------- one item------------------>
              <div class="weather-item-wrapper">
                <div class="weather-img" style="background-image: url(../../img/snowflake.png)"></div>
                <div class="item-test-wrap">
                  <h6>Sunny</h6>
                  <div class="weather-content-info-contain">
                    <div class="wea-info">
                      <p>Sat 23rd 2021</p>
                    </div>
                    <div class="wea-info">
                      <p>this some info</p>
      
                    </div>
                    <div class="wea-info">
                      <p>this some info</p>
      
                    </div>
                    
      
                  </div>
      
      
                </div>
              </div>
            </div>  <!---- one item end ---->

            <div class="weather-item"> <!---------------- one item------------------>
              <div class="weather-item-wrapper">
                <div class="weather-img" style="background-image: url(../../img/storm.png)"></div>
                <div class="item-test-wrap">
                  <h6>Sunny</h6>
                  <div class="weather-content-info-contain">
                    <div class="wea-info">
                      <p>Sat 23rd 2021</p>
                    </div>
                    <div class="wea-info">
                      <p>this some info</p>
      
                    </div>
                    <div class="wea-info">
                      <p>this some info</p>
      
                    </div>
                    
      
                  </div>
      
      
                </div>
              </div>
            </div>  <!---- one item end ---->

            <div class="weather-item"> <!---------------- one item------------------>
              <div class="weather-item-wrapper">
                <div class="weather-img" style="background-image: url(../../img/rain2.png)"></div>
                <div class="item-test-wrap">
                  <h6>Sunny</h6>
                  <div class="weather-content-info-contain">
                    <div class="wea-info">
                      <p>Sat 23rd 2021</p>
                    </div>
                    <div class="wea-info">
                      <p>this some info</p>
      
                    </div>
                    <div class="wea-info">
                      <p>this some info</p>
      
                    </div>
                    
      
                  </div>
      
      
                </div>
              </div>
            </div>  <!---- one item end ---->

            

            

  
    
          </div>

        </div>

        <h2>Results</h2>

        <div class="res-content-wrapper">
          <div class="list">

            <div class="res-item">   <!---------------- one item------------------>
              <a class="res-link" href="#">
                <div class="res-img-wrapper">
                  <div class="res-photo" style="background-image: url(../../img/mountain.png)">
                    <img class="res-img-fill"src="" alt="">
                  </div>
                </div>

                <div class="res-contents">
                  <h6>The reserve Oregon trails</h6>
                  <div class="button-wrapper-save">
                    <button class="solid-btn-save"> ADD TO FAVORITES</button>
                  </div>
                  <div class="cont-line-one">

                    <div class="cont">
                      <img class="icon" src="../../img/map-treasure-search.png" alt="">
                      <p>this is a bunch of info about</p>
                    </div>

                    <div class="cont">
                      <img class="icon" src="../../img/hat-adventure.png" alt="">
                      <p>We got more info here</p>
                    </div>

                    <div class="cont">
                      <img class="icon" src="../../img/cooking-kettle.png" alt="">
                      <p>These coould be some cool stuff</p>
                    </div>

                    <div class="cont">
                      <img class="icon" src="../../img/lighter-fire.png" alt="">
                      <p>4.5</p>
                    </div>

                  </div>

                </div>

              </a>

            </div>   <!---- one item end ---->


            <div class="res-item">   <!---------------- one item------------------>
              <a class="res-link" href="#">
                <div class="res-img-wrapper">
                  <div class="res-photo" style="background-image: url(../../img/mountain.png)">
                    <img class="res-img-fill"src="" alt="">
                  </div>
                </div>

                <div class="res-contents">
                  <h6>The reserve Oregon trails</h6>
                  <div class="button-wrapper-save">
                    <button class="solid-btn-save"> ADD TO FAVORITES</button>
                  </div>
                  <div class="cont-line-one">

                    <div class="cont">
                      <img class="icon" src="../../img/map-treasure-search.png" alt="">
                      <p>this is a bunch of info about</p>
                    </div>

                    <div class="cont">
                      <img class="icon" src="../../img/hat-adventure.png" alt="">
                      <p>We got more info here</p>
                    </div>

                    <div class="cont">
                      <img class="icon" src="../../img/cooking-kettle.png" alt="">
                      <p>These coould be some cool stuff</p>
                    </div>

                    <div class="cont">
                      <img class="icon" src="../../img/lighter-fire.png" alt="">
                      <p>4.5</p>
                    </div>

                  </div>

                </div>

              </a>

            </div>   <!---- one item end ---->


            <div class="res-item">   <!---------------- one item------------------>
              <a class="res-link" href="#">
                <div class="res-img-wrapper">
                  <div class="res-photo" style="background-image: url(../../img/mountain.png)">
                    <img class="res-img-fill"src="" alt="">
                  </div>
                </div>

                <div class="res-contents">
                  <h6>The reserve Oregon trails</h6>
                  <div class="button-wrapper-save">
                    <button class="solid-btn-save"> ADD TO FAVORITES</button>
                  </div>
                  <div class="cont-line-one">

                    <div class="cont">
                      <img class="icon" src="../../img/map-treasure-search.png" alt="">
                      <p>this is a bunch of info about</p>
                    </div>

                    <div class="cont">
                      <img class="icon" src="../../img/hat-adventure.png" alt="">
                      <p>We got more info here</p>
                    </div>

                    <div class="cont">
                      <img class="icon" src="../../img/cooking-kettle.png" alt="">
                      <p>These coould be some cool stuff</p>
                    </div>

                    <div class="cont">
                      <img class="icon" src="../../img/lighter-fire.png" alt="">
                      <p>4.5</p>
                    </div>

                  </div>

                </div>

              </a>

            </div>   <!---- one item end ---->

            <div class="res-item">   <!---------------- one item------------------>
              <a class="res-link" href="#">
                <div class="res-img-wrapper">
                  <div class="res-photo" style="background-image: url(../../img/mountain.png)">
                    <img class="res-img-fill"src="" alt="">
                  </div>
                </div>

                <div class="res-contents">
                  <h6>The reserve Oregon trails</h6>
                  <div class="button-wrapper-save">
                    <button class="solid-btn-save"> ADD TO FAVORITES</button>
                  </div>
                  <div class="cont-line-one">

                    <div class="cont">
                      <img class="icon" src="../../img/map-treasure-search.png" alt="">
                      <p>this is a bunch of info about</p>
                    </div>

                    <div class="cont">
                      <img class="icon" src="../../img/hat-adventure.png" alt="">
                      <p>We got more info here</p>
                    </div>

                    <div class="cont">
                      <img class="icon" src="../../img/cooking-kettle.png" alt="">
                      <p>These coould be some cool stuff</p>
                    </div>

                    <div class="cont">
                      <img class="icon" src="../../img/lighter-fire.png" alt="">
                      <p>4.5</p>
                    </div>

                  </div>

                </div>

              </a>

            </div>   <!---- one item end ---->


            

            

          </div>


        </div>


      </div>








      

    </div>


       
     
  </div>

  <footer>
    
  </footer>
  
</body>
</html>