<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body>
  <%- include('../layout/navbar') %>
  <h1>You got lost in the woods. Check your map and head back now before it's too late.</h1>
  <p><a href="/">HOME</a></p>
  <%- include('../layout/footer') %>
  
</body>
</html>