<span class="slide">
  <a href="#" onclick="openSlideMenu()">
    <i class="fas fa-bars"></i>
  </a>
</span>

<div id="menu" class="nav">
  <a href="#" class="close" onclick="closeSlideMenu()">
    <i class="fas fa-times"></i>
  </a>
  <a href="#">Home</a>
  <a href="#">Hiking</a>
  <a href="#">Camping</a>
  <a href="#">Saved</a>
  <a href="#">Team</a>
</div>
