<div class="sidenav">
  <img id="logo-align"src="../../img/blazingTrailsLogo.png" alt="Blazing Trails Logo">
</div>

<div class="reg-nav-section">
  <div class="reg-nav-wrapper">
      <a class="reg-nav-buttons" href="#">Home</a>
      <a class="reg-nav-buttons" href="#">Search</a>
      <a class="reg-nav-buttons" href="#">Favorites</a>
      <a class="reg-nav-buttons" href="#">About Us</a>
  </div>
</div>

